body { max-width: 960px; margin: 0 auto; background: white; }

.box {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.flex-item{
    justify-content: space-between;

}
.grid{
    display: grid;
    height: 800px;
    grid-template-rows: 150px 150px 150px 150px 150px;
    grid-template-columns: 150px 150px 150px 150px 150px;
}